*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #c0c7dc;
  font-family: "Poppins", sans-serif;
}

/* NavBar styling */

header {
  width: 100%;
  height: 13vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav {
  width: 45%;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

header nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  font-size: 1.03rem;
}

header nav ul li a:active {
  font-weight: 600;
}

/* Hero styling */

.hero img {
  background-size: contain;
  position: absolute;
  height: 100vh;
  width: 100%;
  left: 0px;
  top: 0px;
  z-index: -999;
}

.hero .hero-box {
  margin-left: 7em;
  color: #fff;
  display: flex;
  align-items: center;
  height: 100vh;
  position: absolute;
  top: 0;
}

.hero .hero-box .content .title {
  font-style: normal;
  font-weight: bold;
  font-size: 3.8rem;
}

.hero .hero-box .content .description {
  font-weight: normal;
  font-size: 1.3rem;
  padding-left: 0.17em;
  width: 45%;
}

.hero .hero-box .content .btn {
  background: #9ca8cd;
  border-radius: 9px;
  font-style: normal;
  font-weight: normal;
  font-size: 1.15rem;
  padding: 0.55em 1em;
  border-style: none;
  margin-top: 1.25em;
  cursor: pointer;
}

/* Main element styling */

.main-element {
  margin: 46em 4em 4em 4em;
}

.main-element .card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 63%;
  margin: 0 auto;
}

.main-element .card img {
  width: 270px;
  height: 405px;
}

.main-element .card .content {
  margin-left: 4em;
}

.main-element .card .content .title {
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  color: #333;
}

.main-element .card .content .description-one,
.main-element .card .content .description-two {
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  margin-top: 0.3rem;
}

.main-element .card .content .description-two {
  margin-top: 2em;
}

.main-element .divider {
  width: fit-content;
  margin: 4.7em auto;
}

.main-element .divider svg {
  width: 450px;
  height: 11.25px;
}

.main-element .section-two .card .content,
.main-element .section-four .card .content {
  order: 1;
  margin: 0 4em 0 0;
}

.main-element .section-two .card img,
.main-element .section-four .card img {
  order: 2;
}
